<table>
    <tr>
        <th>Name:</th>
        <td>{{country.name}}</td>
    </tr>
    <tr>
        <th>Capital:</th>
        <td>{{country.capital}}</td>
    </tr>
    <tr>
        <th>Population:</th>
        <td>{{country.population}}</td>
    </tr>
    <tr>
        <th>Currencies:</th>
        <td>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Symbol</th>
                </tr>
                <tbody>
                    <tr *ngFor="let currency of country.currencies">
                        <td>{{currency.name}}</td>
                        <td>{{currency.code}}</td>
                        <td>{{currency.symbol ? currency.symbol: 'No Symbol'}}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <th>Flag:</th>
        <td><img class="image" src={{country.flag}} /></td>
    </tr>
</table>